body {
  font-family: $content-font;
  line-height: 1;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.order__btn {
  @include size(16.6rem, 57px);
  @include linearTransition(0.25s);
  outline: none;
  border: none;
  background: linear-gradient(to right, $primary-color, #bd90cc);
  font-size: 1.8rem;
  color: $white;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background: white;
    color: $primary-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}

.main__heading {
  font-family: $title-font;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: capitalize;
  & span {
    font-weight: 500;
    text-decoration: underline $primary-color;
  }
}

.main__desc {
  font-size: 1.5rem;
  color: $text-color;
  line-height: 1.6;
  font-weight: 300;
}
