$primary-color: #8f44aa;
$secondary-color: #b96bd7;
$third-color: #faf5fb;
$third-dark-color: #bd90cc;
$fourth-color: #eddff0;
$text-color: #3a505f;

$title-font: "Source Sans Pro", sans-serif;
$content-font: "Poppins", sans-serif;

$black: #000;
$white: #fff;

$header-height: 7.5rem;
